<!-- 宣告我們要套用模板 -->
{% extends "base.html" %}

{% block title %}Lab首頁{% endblock %}

{% block main %}

<div class="d-grid gap-3">
    <div class="p-2 bg-light border"><h1>Update CSV Data</h1></div>
    <!--<div class="p-2 bg-light border"><a class="btn-dirty-purple btn-lg" href="/download" role="button">Download CSV</a></div> -->
    <div class="p-2 bg-light border"><button id="myButton"> Download</button></div>
    <div class="p-2 bg-light border"><table id ="myTable" class="table table-striped table-hover table-sm">
    <thead>
      <tr>
        <th>CatonID</th>
        <th>Storage Code</th>
        <th>SN</th>
        <th>PN</th>
        <th>LOT</th>
        <th>D/C</th>
        <th>QTY</th>
        <th>COO</th>
      </tr>
    </thead>
    <tbody>
        {% for value in datalist %}
            <tr>
              <td contenteditable="true">{{ value[0] }}</td>
              <td contenteditable="true">{{ value[1] }}</td>
              <td contenteditable="true">{{ value[2] }}</td>
              <td contenteditable="true">{{ value[3] }}</td>
              <td contenteditable="true">{{ value[4] }}</td>
              <td contenteditable="true">{{ value[5] }}</td>
              <td contenteditable="true">{{ value[6] }}</td>
              <td contenteditable="true">{{ value[7] }}</td>
            </tr>
        {% endfor %}
      </tbody> 
  </table></div>
</div>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script type="text/javascript">
  $("#myButton").on('click',function(){
    var arrData=[['CatonID', 'Storage Code', 'SN', 'PN', 'LOT', 'D/C', 'QTY', 'COO']];
    //循环每一个表行(tr)
    $("#myTable tr").each(function(){
      var currentRow=$(this);
      var col1_value=currentRow.find("td:eq(0)").text();
      var col2_value=currentRow.find("td:eq(1)").text();
      var col3_value=currentRow.find("td:eq(2)").text();
      var col4_value=currentRow.find("td:eq(3)").text();
      var col5_value=currentRow.find("td:eq(4)").text();
      var col6_value=currentRow.find("td:eq(5)").text();
      var col7_value=currentRow.find("td:eq(6)").text();
      var col8_value=currentRow.find("td:eq(7)").text();
      var obj=[col1_value, col2_value, col3_value, col4_value, col5_value, col6_value, col7_value, col8_value];
      
      // obj.col1=col1_value;
      // obj.col2=col2_value;
      // obj.col3=col3_value;
      // obj.col4=col4_value;
      // obj.col5=col5_value;
      // obj.col6=col6_value;
      // obj.col7=col7_value;
      // obj.col8=col8_value;
      arrData.push(obj);
    });
    // alert(arrData);
    let csvContent = "data:text/csv;charset=utf-8," 
      + arrData.map(e => e.join(",")).join("\n");
    
    var encodedUri = encodeURI(csvContent);
    var link = document.createElement("a");
    link.setAttribute("href", encodedUri);
    link.setAttribute("download", "my_data.csv");
    document.body.appendChild(link); 
    link.click();
    console.log(arrData);
  });
  </script>
{% endblock %}